@font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Regular'), url('/styles/fonts/MYRIADPRO-REGULAR.woff') format('woff');
}

@font-face {
    font-family: 'Myriad Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Bold'), url('/styles/fonts/MYRIADPRO-BOLD.woff') format('woff');
}

html {
    width: 100%;
    font-family: 'Myriad Pro Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    color: rgb(85, 85, 85);
    display: flex;
    justify-content: center;
    align-items: center;
}

body, ul, p {
    margin: 0;
}

body {
    width: 1100px;
    display: flex;
    flex-direction: column;
}

header {
    height: 133px;
    background-color: rgb(51, 51, 51);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

nav {
    width: 470px;
    display: flex;
    justify-content: space-between;
}

main {
    max-width: 960px;
    margin: 0 auto;
}

.first {
    margin: 0;
    padding: 35px 0;
}

h1, h2, h3, h4 {
    font-size: 3.75rem;
    letter-spacing: -.04em;
    line-height: 1rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

h2 {
    font-family: 'Myriad Pro Bold';
    font-weight: 700;
    color: rgb(0, 0, 0);
}

h3 {
    font-size: 3.125rem;
    color: rgb(187, 187, 187);
}

h4 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    text-transform: lowercase;
    text-align: center;
    margin: 20px auto;
}

h5 {
    font-size: 1.5rem;
    letter-spacing: -.04em;
    line-height: 2.625rem;
    font-weight: 400;
    margin: 20px 0;
}

h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    line-height: 1rem;
    font-weight: 400;
    color: rgb(187, 187, 187);
    margin: 10px 0;
}

span {
    color: rgb(0, 174, 239);
}

p {
    border-top: .25rem rgb(187, 187, 187) dotted;
    border-bottom: .25rem rgb(187, 187, 187) dotted;
    font-size: 2.125rem;
    line-height: 2.625rem;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    padding-left: 0;
    display: flex
}

nav ul li::after {
    content: "--";
    color: rgb(255, 255, 255);
    padding: 0 12px;
}

nav ul li:last-child:after {
    content: "";
    padding: 0;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: rgb(255, 255, 255);
}

a:hover, a:active {
    color: rgb(0, 174, 239);
}

.table {
    height: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cell {
    background-color: rgb(0, 174, 239);
    box-shadow: 4px 4px 5px rgb(187, 187, 187);
    width: 283px;
    height: 351px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}

.cell p {
    border-bottom: none;
    font-size: 0.85rem;
    line-height: 1.31rem;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 30px 0;
}

.cell a {
    display: block;
    background-color: rgb(0, 118, 163);
    width: 232px;
    height: 45px;
    box-shadow: 0 0 5px rgb(25, 92, 116) inset;
    font-size: 1.125rem;
    line-height: 3rem;
    text-transform: uppercase;
    text-align: center;
}

.content {
    width: 232px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedback {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

}

.feedback img {
    width: 84px;
    height: 84px;
    float: left;
    margin-right: 30px;
    background-color: rgb(187, 187, 187);
}

.feedback p, .sidebar2 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: .875rem;
    line-height: 1.31rem;
    border: none;
}

.name {
    color: black;
    font-weight: 700;
    line-height: 1.125rem;
}

.org {
    color: rgb(0, 174, 239);
    line-height: 1.125rem;
}

.afterMain {
    display: flex;
    border-top: .25rem rgb(187, 187, 187) dotted;
    border-bottom: .25rem rgb(187, 187, 187) dotted;
}
.sidebar1 {
    display: inline;
    width: 50%;
    border-right: .25rem rgb(187, 187, 187) dotted;
} 

.sidebar2 {
    display: inline;
    width: 50%;
}

.sidebar2 img {
    width: 430px;
    height: 206px;
    box-shadow: 4px 4px 5px rgb(187, 187, 187);
    margin-bottom: 20px;
}

.sidebar2 a {
    color: rgb(0, 174, 239);
}

.colomns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project {
    margin-left: 50px;
}

footer {
    width: 960px;
    margin: 20px auto;
}
footer p {
    border: none;
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: -.04em;
    color:rgb(187, 187, 187);
}